@font-face {
  font-family: "iconfont"; /* Project id 3685534 */
  src: url('iconfont.woff2?t=1664810243503') format('woff2'),
       url('iconfont.woff?t=1664810243503') format('woff'),
       url('iconfont.ttf?t=1664810243503') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixiu1:before {
  content: "\e63a";
}

.icon-shuxian:before {
  content: "\e638";
}

.icon-feiyong1:before {
  content: "\e600";
}

.icon-zulinziyuan:before {
  content: "\e644";
}

