<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.f4.mapper.RoleGroupMapper">

    <select id="getByEmpId" resultType="roleGroup">
        select * from role_group rg
              left join emp_conn_role as ecr on rg.role_id = ecr.role_id
              left join employee_info as ei on ei.emp_id = ecr.emp_id
                where ei.emp_id = #{empId}
    </select>

    <insert id="grantAuthorityByRoleId" parameterType="roleConnPerm">
        insert into role_conn_perm values (null, #{roleId}, #{permId})
    </insert>

</mapper>